:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --page-background-color: #FFFFFF;
  --main-page-highlight: #2196F3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: Roboto, sans-serif ;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.header {
  background-color: #FFFFFF;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 1200px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #2196F3;
}
.logo__span {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo__footer-span {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact {
  margin-left: auto;
  display: block;
}

.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__contacts-icon {
  margin-right: 10px;
  fill: #757575;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding-left: 0;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-decoration: none;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__link-link:hover::after {
  background-color: var(--main-page-highlight);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--main-page-highlight);
}

.underline {
  display: inline-block;
}
.underline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--main-page-highlight);
}

.accent {
  color: #2196F3;
}

.header__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 50px;
  color: #757575;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__mail:hover, .header__mail:focus {
  color: var(--main-page-highlight);
}

.header__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__tel:hover, .header__tel:focus {
  color: var(--main-page-highlight);
}

.header__contacts-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__mail:hover .header__contacts-icon, .header__mail:focus .header__contacts-icon {
  fill: var(--main-page-highlight);
}
.header__tel:hover .header__contacts-icon, .header__tel:focus .header__contacts-icon {
  fill: var(--main-page-highlight);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;
}
.main__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  color: #FFFFFF;
}
.main__btn {
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
}

/*.main-overlay {
    background-image: url(../images/main.jpg);
    height: 600px;
    max-width: 1600px;
    background-position: center;
}
*/
.main__btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  padding-left: 32px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main__btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.hero {
  padding-bottom: 0;
}

.hero__article {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: table-column;
          flex-direction: table-column;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

.hero__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-title-color);
}

.hero__after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
  color: var(--main-text-color);
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

.about__overlay {
  position: relative;
}

.about__text {
  position: absolute;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
}

.team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.borders {
  border: transparent 0.3px solid;
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__pre-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--main-title-color);
}

.team__after-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--main-text-color);
}

.team__soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.team__soc-link:hover, .team__soc-link:focus {
  background-color: #2196F3;
}

.team__soc-icons {
  fill: #AFB1B8;
}
.team__soc-link:hover .team__soc-icons, .team__soc-link:focus .team__soc-icons {
  fill: #FFFFFF;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.team__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  gap: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 30px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.clients__link:hover {
  fill: var(--main-page-highlight);
  border-color: var(--main-page-highlight);
}
.clients__link:focus {
  outline-color: var(--main-page-highlight);
  fill: var(--main-page-highlight);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  text-decoration: none;
  font-family: "Raleway";
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #2196F3;
}
.footer__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
}
.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  gap: 10px;
}
.footer__soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: #2196F3;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__list {
  list-style: none;
  padding-left: 0;
}
.footer__adress-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.footer__adress {
  font-style: normal;
  margin-bottom: 9px;
}
.footer__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer__soc-icons {
  fill: #FFFFFF;
}
.footer__soc-link:hover .footer__soc-icons, .footer__soc-link:focus .footer__soc-icons {
  fill: #FFFFFF;
}

.footer__tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.footer__tel:hover, .footer__tel:focus {
  color: var(--main-page-highlight);
}

.footer__mail {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail:hover, .footer__mail:focus {
  color: var(--main-page-highlight);
}

.footer__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: #fff;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.footer__input:focus {
  border-color: var(--main-page-highlight);
}
.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__sub {
  margin-left: 93px;
}

.footer__sub-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn__sub {
  margin-left: 10px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--main-page-highlight);
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.btn__sub:hover, .btn__sub:focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.footer__sub-icon {
  margin-left: 10px;
  fill: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12) 0px 1px 1px rgba(0, 0, 0, 0.12) 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12) 0px 1px 1px rgba(0, 0, 0, 0.12) 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-left: 41px;
  padding-right: 41px;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.modal__close:hover, .modal__close:focus {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--main-page-highlight);
}
.form__btn:hover, .form__btn:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
  color: #212121;
}

.input__wrap {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline-color: transparent;
}
.form__input:focus {
  outline-color: #2196F3;
  -webkit-transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.input__icon {
  position: absolute;
  left: 15px;
  top: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form__input:focus + .input__icon {
  fill: #2196F3;
}

.modal__label {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal__comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:focus {
  outline-color: #2196F3;
  width: 448px;
  height: 120px;
  -webkit-transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.modal__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  padding-left: 52px;
  color: #FFFFFF;
}

.modal__btn--design {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  margin-left: 125px;
  margin-top: 30px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal__btn--design:hover, .modal__btn--design:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.policy__text {
  width: 425px;
  height: 24px;
  left: 612.38px;
  top: 658px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #757575;
}

/*.policy-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8.38px
}

.user-policy:checked + .policy-text::before {
    background-color: var(--main-page-highlight);
    background-image: url(../images/Vectoraccept.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}*/
.policy__text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8.38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-fill cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.user__policy:checked + .policy__text span {
  background-color: #2196F3;
  border-color: var(--main-page-highlight);
}
.user__policy:focus + .policy__text span {
  border-color: var(--main-page-highlight);
}

.check__icon {
  fill: transparent;
}
.user__policy:checked + .policy__text .check__icon {
  fill: #ffffff;
  border: none;
}

.policy__link {
  position: relative;
  margin-left: 4px;
  color: var(--main-page-highlight);
}

.policy__underline {
  display: inline;
}

.policy__underline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 5px;
  background-color: var(--main-page-highlight);
}

/*.portfolio-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
*/
.portfolio {
  padding-top: 85px;
  padding-bottom: 103px;
}

.portfolio__shadow {
  display: block;
  text-decoration: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.portfolio__shadow:hover, .portfolio__shadow:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.underline {
  display: inline-block;
}
.underline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--main-page-highlight);
}

.accent {
  color: #2196F3;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  padding-left: 0;
  list-style: none;
}

.portfolio__btn {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  background: #F5F4FA;
  border-radius: 4px;
  color: var(--main-title-color) transition-property color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}

.works__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.works__after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.works__border {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.works__up-wrap {
  position: relative;
  overflow: hidden;
}

.works__up-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-top: 63px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.works__item:hover .works__up-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */