.logo {
    text-decoration: none;
    font-family: 'Raleway';
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: #2196F3;

    &__span {
            text-decoration: none;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0.03em;
            color: #000000;
        }
    &__footer-span {
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}



