:root {
    --main-title-color: #212121;
    --main-text-color: #757575;
    --page-background-color: #FFFFFF;
    --main-page-highlight: #2196F3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --main-font: Roboto, sans-serif
}